@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
	background-color: #20252f;
	font-family: 'Quicksand', sans-serif;
	margin: 0%;
	color: #a6a6a6;
}
* {
  box-sizing: border-box;
}
/* all links are none decorated in site*/
a{
	text-decoration: none;
}
.fas, .far{
	color: #d19b8b;
	font-size: 20px;
}
.header {
	margin-bottom: 1%;
	/*border-bottom: 1px dotted #111;*/
	background-color: #20252f;
	overflow: hidden;
}
.label{
	padding: 1%;
	text-align: left;
	font-size: 200%;
	font-weight: bold;
	color: #4aa285;
	letter-spacing: 1px;
	float: left;
	margin-left: 5%;
	width: 40%;
}
.label a{
	color: #4aa285;
}
/* top navigation bar */
.topnav {
	overflow: hidden;
	float: left;
	margin-top: 2%;
	width: 55%;
}
.topnav .icon{
	display:none;
	float: right;
}
/* topnav links */
.topnav a {
	font-size: 14px;
	float: left;
	display: block;
	color: #4ec096;
	text-align: center;
	padding: 1%;
	text-decoration: none;
	width: 20%;
}

/* Change color on hover */
.topnav a:hover {
	border: 1px solid #3dab82;
	font-weight: bold;
	color: #3dab82;
}
.intro{
	text-align: center;
	padding: 1%;
	margin: 10% 5%;
}
.footer {
	background-color: #20252f;
	padding: 1%;
	color: #4aa285;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
/* WORK CSS */
.work-cs{
	padding: 1%;
}
.bodymenuitem{
	color: #d5e5df;
	font-weight: bold;
}
/* responsive css */
@media only screen and (max-width:720px) {
	/* For mobile phones: */
	.header, .label, .topnav {
		width:100%;
	}
	.topnav .icon{
		display:block;
		float: right;
		top: 0;
		right: 0;
	}
	.topnav .topnavmenuitem{
		display:none;
		width: 100%;
	}
}