body {
	background-color: #fff;
	font-family: verdana;
}
* {
  box-sizing: border-box;
}
.header {
	margin-bottom: 1%;
	border-bottom: 1px dotted #111;
}
.label{
	padding: 1%;
	text-align: center;
	font-size: 200%;
	color: #4f6b88;
	letter-spacing: 1px;	
}
.headermenucs{
	display: block;
	/*border: 1px dotted #111;*/
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #5a7877;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
.headermenucs .menu a{
	text-decoration: none;
	color: #839e94;
	text-align: center;
	padding: 2%;
}
.menu{
	float:left;
	display: inline-block;
	width: 20%;
	text-align: center;
	padding: 2%;
}
.footer {
	background-color: #dddddd;
	padding: 1%;
	color: #465264;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
/* responsive css */
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}